html,body,form,ul,ol,h1,h2,h3,h4,p{padding:0;margin:0;border:0}a{cursor:pointer;color:#5b5b5b;text-decoration:none;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}a img{border:0}input{font-size:14px;color:#434343;-webkit-tap-highlight-color:rgba(0,0,0,0)}input::-webkit-input-placeholder{color:#a4a9ae}ul,ol,li{list-style:none;display:block}em{color:#ff5000;font-style:normal}i{display:block;font-style:normal}[clk]{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none}[pri]{white-space:nowrap}[pri]:before{content:"楼 ";word-spacing:-.2em}body{background-color:#f6f6f6;font-size:14px;color:#5b5b5b;-webkit-text-size-adjust:none}
ody, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin: 0;padding: 0;}
a{color: #333;}
.c-btn {box-shadow: 0 0 0 rgba(0, 0, 0, 0);-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);border: 1px #c4c4c4 solid;border-left:none;}
@media screen and (-webkit-device-pixel-ratio: 1), screen and (-webkit-device-pixel-ratio: 1.5) {
  .c-btn-aw:before {background-image: url(btn_l1.png);top: -1px;height: 32px;  }
  .c-btn-aw:active:before {background-image: url(btn_l2.png);left: -14px;  }
  .c-btn-tap:before {background-image: url(btn_l2.png);left: -14px;}
}
html.lock #main{position:relative;overflow:hidden}html[mode="1"] .sbox,html[mode="1"] #center header,html[mode="1"] #main_btn{display:none!important}
.hide{display:none}
.c-btn-aw { position: relative;}
.c-btn-aw:before {content: ' ';position: absolute; background: url(btn_l3.png) no-repeat; background-size: contain; top: 0; left: -14px; width: 14px; height: 30px;}
.c-btn-aw:active:before { background-image: url(btn_l2.png); left: -13px;}
#header{width: 100%;height: 49px;background: -webkit-gradient(linear, center top, center bottom, from(#f9f9f9), to(#eeeeee));border-bottom: 1px #fff solid;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); -webkit-transform: translateZ(0);display: -webkit-box;}
#header .l{padding-left: 17px;min-width: 30px;margin-top:10px;}
#header .l .c-btn-aw {-webkit-transform: translateZ(0);padding: 0 4px 0 2px;min-width: 30px;}
#header .l a{color: #212121;line-height: 30px;display:block;}
#header .m{margin-top:10px;-webkit-box-flex: 1;text-align: center;padding: 0 6px;}
#header .m span {display: block;line-height: 30px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;position: relative;font-size: 18px;font-weight: bold;}
#header .r{min-width: 60px;text-align: right;padding-right: 10px;}
#header .r .ico{display: block;
width: 30px;
height: 30px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
float: left;
margin: 12px 0 0 12px;
cursor: pointer;
box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
filter: progid:DXImageTransform.Microsoft.Shadow(color=#adacac,direction=500,strength=2);
}
#header .r .user{background: #FF7777 url(userbar.png) no-repeat left center;}
#header .r .user{background-position: -34px;}
#header .r .user img{display: block;width: 30px;height: 30px;border-radius: 50%;}
.field {padding: 5px 0;}

#mask{display:none;z-index:80;width:100%;height:100%;}
html.lock #mask, html.lock #center {width: 100%;height: 100%;position: fixed;top: 0;background-color: gray;z-index: 100;filter: Alpha(Opacity=30);-moz-opacity: 0.3;opacity: 0.3;display:block;}
#west,#east{position: absolute;top: 0;z-index:1000;display:none;height:100%;overflow:hidden;background:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,.4)}
#west{width:260px;left:0;color:#7d7d7d}#west .tip{display:block;line-height:60px;margin:20px 10px 0;text-align:center;color:#fff}#west>div{height:100%;overflow:hidden;position:absolute;top:0;z-index:10;-webkit-transform:translate3d(0,0,0)}#west ul{position:relative}#west li{position:relative;display:block}#west a{color:#7d7d7d}
.lst_cate{width:50px;left:0;background-color:#f2f2f2;border-right:1px solid #d9d9d9}.lst_cate ul{width:50px;padding:0 0 30px}.lst_cate li{display:block;font-size:12px;height:35px;line-height:35px;margin:10px 0 0;text-align:center;cursor:pointer}.lst_cate li.on{background-color:#008ee9;color:#fff}.lst_cate li .ico.add{padding:28px 0 8px;line-height:100%;height:auto;background-position:center top}.lst_word{width:200px;left:60px}.lst_word ul{width:200px;padding:10px 0 30px;overflow:hidden;display:none}.lst_word li{float:left;color:#999}.lst_word .txt{color:#fff;background-color:#787575;padding:0 10px;margin:0 10px 10px 0;height:35px;line-height:35px;border-radius:2px}.lst_word .pic{width:89px;margin:0 9px 10px 0;border:1px solid #ebebeb;background:#fff;background-size:24px auto;overflow:hidden}.lst_word .pic .img,.lst_word .pic img{width:89px;height:67px;display:block}.lst_word .pic span{text-align:center;display:block;height:28px;line-height:28px;padding:0 8px;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.lst_word .txt+.pic,.lst_word .pic+.txt{clear:left}.lst_edit{width:260px;left:0;background-color:#fff;display:none}.lst_edit ul{width:260px}.lst_edit li{height:44px;line-height:44px;border-bottom:1px solid #d9d9d9;margin:0 10px;padding:0 10px}.lst_edit .ico{width:24px;height:24px;position:absolute;right:10px;top:50%;margin:-12px 0 0}.lst_edit .btn{width:150px;height:35px;line-height:35px;margin:25px auto;background-color:#ff5000;color:#fff;text-align:center}.lst_edit .btn:active{background-color:#cc4000}#west.edit_cate .lst_edit{display:block}#east{width:120px;right:0}#east a{color:#7d7d7d;text-align:center}#east .u_info{display:block;border-bottom:1px solid #d9d9d9;padding:15px 0 10px}#east .u_img{width:60px;height:60px;margin:0 auto}#east .u_img *{display:block;width:60px;height:60px;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box}#east .u_img i{border:1px solid #83878b;background-position:12px center}#east .u_txt{display:block;height:25px;line-height:25px;text-align:center;}#east .u_logout{position:absolute;right:0;top:0;z-index:50px;text-align:center;width:50px;height:40px;line-height:40px}#east .u_icons{padding:0 0 30px}#east .u_icons a{position:relative;display:block;width:60px;height:60px;margin:10px auto;padding:5px;overflow:hidden}#east .u_icons i{display:block;width:35px;height:35px;margin:0 auto;background:transparent url(T1Hd1WFE0bXXa2hgQA-70-350.png) no-repeat center top;background-size:35px auto}#east .u_icons span{display:block;height:20px;line-height:20px}#east .u_icons li:nth-child(2) i{background-position:0 -35px}#east .u_icons li:nth-child(3) i{background-position:0 -70px}#east .u_icons li:nth-child(4) i{background-position:0 -178px}#east .u_icons li:nth-child(5) i{background-position:0 -140px}#east .u_icons .tip_new:after{right:5px;top:2px}
#main_btn{position:fixed;right:0;bottom:60px;z-index:50}#main_btn .ico{position:relative;display:block;width:50px;height:50px;background-color:rgba(0,0,0,.5);text-align:center;color:#fff;line-height:75px;font-size:12px;background-position:center 8px}#main_btn .ico.top{display:none}#main_btn .ico.home{background-position:center 5px}#main_btn .ico:after{content:"";border-bottom:1px solid rgba(255,255,255,.5);display:block;position:absolute;bottom:0;left:6px;width:38px}#main_btn .ico:last-child:after{display:none}.user_tags{overflow:hidden;width:16em}.user_tags li{float:left;width:33.33%;text-align:center}.user_tags li div{width:3.5em;height:3.5em;overflow:hidden;border:1px solid rgba(0,0,0,0);margin:0 auto .5em}

#footer{height: 98px;background: url(footer.png) 0px 30px repeat-x;font-size: 14px;text-align: center;}
#footer a {color: #004477;text-decoration: none;}
#footer section{display: -webkit-box;padding: 0 8px 0 10px;height: 30px;line-height: 30px;background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ededed));}
#footer .user-info {-webkit-box-flex: 1;display: -webkit-box;text-align: left;}
#footer .gotop {width: 80px;text-align: right;font-size: 12px;font-family: verdana;font-weight: bold;}
#footer .gotop a {color: #999;text-transform: capitalize;position: relative;padding-right: 15px;display: inline-block;}
#footer .gotop a b {position: absolute;width: 0px;height: 0px;top: 10px;right: 0px;border: 4px transparent solid;border-bottom-color: #999;}
#footer nav{padding: 12px 0 9px;}
#footer .c-copyright {color: #666;font-size: 12px;}

.c-float-modePop {
    text-align: center;
    background-color: rgba(23, 23, 23, 0.9)
}
 .c-float-modePop .warnMsg {
    padding: 10px 10px 10px 10px;
    color: #fff
}
 .c-float-modePop .doBtn {
    width: 170px;
    margin: 0 auto
}
 .c-float-modePop button {
    padding: 6px 9px 6px 9px;
    color: #949494;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #2e2e2e));
    border: 0;
    border-radius: 2px
}
 .c-float-shade {
    width: 100%;
    display: block;
    position: absolute;
    z-index: 99;
    background-color: #000;
    opacity: .5;
    top: 0;
    left: 0
}
 .c-float-shade.hide {
    display: none
}
 .c-float-popWrap {
    width: 220px;
    border-radius: 2px;
    z-index: 9999;
    position: absolute;
    overflow: hidden
}
 .c-float-popWrap .c-float-modePop {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 2px;
    padding: 15px
}
 .c-float-popWrap .c-float-modePop .warnMsg {
    padding: 0;
    font-size: 14px
}
 .c-float-popWrap .c-float-modePop .content {
    margin-top: 10px
}
 .c-float-popWrap .c-float-modePop .doBtn {
    width: 190px;
    margin-top: 10px
}
 .c-float-popWrap .c-float-modePop button {
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #444;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #999));
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin: 10px 5px 0
}
 .c-float-popWrap.hide {
    display: none;
    -webkit-box-shadow: none
}
 .c-float-popWrap.show {
    display: block;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3)
}
 .c-float-popWrap.msgMode .c-float-modePop .content,  .c-float-popWrap.msgMode .c-float-modePop .doBtn {
    display: none
}
 .c-float-popWrap.alertMode .c-float-modePop .content {
    display: none
}
 .c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
    display: none
}
 .c-float-popWrap.confirmMode .c-float-modePop .content,  .c-float-popWrap.confirmMode .c-float-modePop .doBtn {
    display: block
}
#qrcode{position: fixed;z-index: 101;right:10px;bottom:10px;display:none;height:200px;width:200px;padding:10px;background:#fff;}
#loading{position:fixed;top:0;left:0;width:100%;height:100%;overflow:hidden;background:#fff;z-index:9999;}
#loading .pic{margin:0 auto;width:220px;height:220px;margin-top:100px;}
#loading .pic img{width:220px;height:220px}
#conloading{position:fixed;bottom:0;left:0;width:100%;height:50px;overflow:hidden;background:#fff;z-index:9999;text-align:center;}